
<div class="grid grid-cols-3 gap-4">
  
    <!-- Premier composant -->
    <div class="bg-white shadow-md border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
          <img class="rounded-t-lg" src="../../assets/cloud.jpeg" alt="">
      </a>
      <div class="p-5 scale-105">
          <a href="#">
              <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2 dark:text-white">Capgemini Enginnering IT Multinational</h5>
          </a>
          <p class="font-normal text-gray-700 mb-3 dark:text-gray-400">Capgemini SE is a French multinational information technology (IT) services and consulting company, headquartered in Paris, France</p>
          <p class="font-normal bg-gray-400 text-gray-700 mb-3 dark:text-gray-400 ">Des solution Globales SAss Pass Lass pour tout genre de cloud service</p>
          <a href="https://www.capgemini.com/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore Company
              <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="https://www.capgemini.com/" link="https://www.capgemini.com/"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
      </div>
  </div>
  <div class="bg-white shadow-md border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="../../assets/developementservice.jpeg" alt="">
    </a>
    <div class="p-5 scale-105">
        <a href="#">
            <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="font-normal text-gray-700 mb-3 dark:text-gray-400">Capgemini SE is a French multinational information technology (IT) services and consulting company, headquartered in Paris, France</p>
        <p class="font-normal bg-gray-400 text-gray-700 mb-3 dark:text-gray-400 ">Des solutions de Web developpment globales selon vos souhaits et sous votre vision ,des idées creatives et innovants de haute qualité peut etre implmenter et livré </p>
        <a href="https://www.capgemini.com/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Explore Company
            <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
<div class="bg-white shadow-md border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="../../assets/hebergement.jpeg" alt="">
    </a>
    <div class="p-5 scale-105">
        <a href="#">
            <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2 dark:text-white">Capgemini Enginnering IT Multinational</h5>
        </a>
        <p class="font-normal text-gray-700 mb-3 dark:text-gray-400">Capgemini SE is a French multinational information technology (IT) services and consulting company, headquartered in Paris, France</p>
        <p class="font-normal bg-gray-400 text-gray-700 mb-3 dark:text-gray-400 ">Des solutions de cycbersecurity et de protection de données et leur disponibilite en toute sécurite,garantissant la confidentialité de votre plateforme et leur diponibilité selon des normes de sécutité élevées</p>
        <a href="https://www.capgemini.com/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Explore Company
            <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
<div class="bg-white shadow-md border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="../../assets/cycbersecurity.jpeg" alt="">
    </a>
    <div class="p-5 scale-105">
        <a href="#">
            <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2 dark:text-white">Capgemini Enginnering IT Multinational</h5>
        </a>
        <p class="font-normal text-gray-700 mb-3 dark:text-gray-400">Capgemini SE is a French multinational information technology (IT) services and consulting company, headquartered in Paris, France</p>
          <p class="font-normal bg-gray-400 text-gray-700 mb-3 dark:text-gray-400 ">Des solutions d'hebergemnt des sites dans des serveurs et leur avaibility dans des serveurs pour des utilisateurs finaux ciblé </p>
        <a href="https://www.capgemini.com/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Explore Company
            <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
  
  </div>