
<div class="bg-gradient-to-b from-slate-400 to-slate-200">
  <div class="justify-center items-center flex ">
  <button class="outline-double mr-3 ml-3 p-2 hover:bg-green-300 transition rounded-full mb-3 duration-300 relative justify-center items-center " (click)="redirectToSection()">See Our B2B Project </button>
</div>


<body class="min-h-screen flex items-center justify-center h-70">
<div class="bg-gradient-to-b from-slate-300 justify-center  to-slate-200">
  <div class="text-center">
    <h1 class="mx-50 font-bold hover:text-blue-500 hover:underline">
      Check Out Our team ✔✨
    </h1>
  </div>
  
  <div
    class="max-w-md mx-auto mt-5  bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
  >
    <div class="md:flex ">
      <div class="md:flex-shrink-0 ml-4 mb-5">
        <img
          class="h-48  w-full object-cover md:h-full md:w-48 transform transition-transform duration-300 hover:scale-110"
          src="assets/ProTof.PNG"
          alt="Man looking at item at a store"
        />
      </div>
      <div class="p-8 mb-3">
        <div
          id="nom" class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
        >
          Mouad   Makboul
        </div>
        <a
          href="#"
          class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"
          >Futur DEV Engineer</a
        >
        <p class="mt-2 text-gray-500">
          Futur Ingénier axé sur la qualité logicielle et dévelopement des
          logiecls spécialité Spring boot et Angular ,React Js ... Java thinking
          ♨
        </p>
        <cite> Lauréat Emsi</cite>
      </div>
    </div>
    
    <div class="md:flex">
      <div class="md:flex-shrink-0 mb-5 ml-3">
        <img
          class="h-48 ml-3 w-full object-cover rounded-3xl md:h-full md:w-48 hover:scale-110 transform transition-transform duration-300"
          src="assets/YOUSSEG.JPG"
          alt="Man looking at item at a store"
        />
      </div>
      <div class="p-8">
        <div
          class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
        >
          Youssef Lachgar
        </div>
        <a
          href="#"
          class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"
          >Futur DEV Engineer
        </a>
        <p class="mt-2 text-gray-500">
          Futur Ingénier axé sur la qualité logicielle et dévelopement des
          logiecls ,spécialité UI/UX📍
        </p>
        <cite> Lauréat Emsi</cite>
      </div>
    </div>
    <div class="md:flex">
      <div class="md:flex-shrink-0 mb-5 ml-3">
        <img
          class="h-48 w-full ml-3 object-cover rounded-3xl md:h-full md:w-48 hover:scale-110 transform transition-transform duration-300"
          src="assets/BADR.JPG"
          alt="Man looking at item at a store"
        />
      </div>
      <div class="p-8">
        <div
          class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
        >
          BADR KHALIL
        </div>
        <a
          href="#"
          class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"
          >Futur DEV Engineer</a
        >
        <p class="mt-2 text-gray-500">
          Futur Ingénier axé sur la qualité logicielle et dévelopement des
          logiecls ,Orientaion Databases et backend Process 🛢
        </p>
        <cite> Lauréat Emsi</cite>
      </div>
    </div>
  </div>
</div>
</body>
</div>

<router-outlet>

</router-outlet>
