<figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800 w-full h-full">
    <img class="w-30 h-30 md:w-50 md:h-auto md:rounded-none rounded-full mx-auto" src="../../assets/ProTof.PNG " alt="" width="384" height="512">
    <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
      <blockquote>
        <p class="text-lg font-medium text-dark">
          “Our plateforme make easier transactions betwwen companies with less effort and flexible process.With iso normalisation Conditions TRUST”
        </p>
      </blockquote>
      <figcaption class="font-medium">
        <div class="text-sky-500 dark:text-sky-400">
          Mouad Makboul
        </div>
        <div class="text-slate-700 dark:text-slate-500 p-3">
          Maroc,Casablanca 
        </div>
        <div class="text-slate-700 dark:text-slate-500 p-3">
            Emsiste Enginner 👨‍🎓👨‍🎓 
          </div>
      </figcaption>
    </div>
  </figure>