<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet The Contribuotors of the B2B  plateform .</h2>
        <p class="mt-6 text-lg leading-8 text-gray-900 font-semibold">Have a look to our team ✨✨</p>
      </div>
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full duration-300 ease-in-out transform hover:scale-150" src="../../assets/ProTof.PNG">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">MOUAD MAKBOUL</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">JAVA Enginner ,Emsiste</p>
            </div>
          </div>
        </li>
        <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full duration-300 ease-in-out transform hover:scale-150" src="../../assets/yousef_image.jpg">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Youssef Amezzane</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">DATA Enginner  ,Ensiaste</p>
              </div>
            </div>
          </li>
  
        <!-- More people... -->
      </ul>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full duration-300 ease-in-out transform hover:scale-150" src="../../assets/Maatla.jpg">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Meryem Maatla</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600 duration-300 hover:text-gray-700">PHD Doctorat ..IT Specialist</p>
          </div>
        </div>
      </li>
    </div>
    <div class="bg-white py-15 sm:py-25 flex justify-center items-center">
        <div class="flex justify-center items-center">
            <div class="mt-10 flex justify-center items-center gap-x-8 gap-y-10 flex-wrap">
                <img class="mx-auto max-w-full h-auto duration-300 ease-in-out transform hover:scale-150" src="../../assets/emsi.jpg" alt="EMSI" width="158" height="48">
                <img class="mx-auto max-w-full h-auto duration-300 ease-in-out transform hover:scale-150" src="../../assets/ensa.jpg" alt="ENSA" width="158" height="48">
                <img class="mx-auto max-w-full h-auto duration-300 ease-in-out transform hover:scale-150" src="../../assets/hassania.jpg" alt="Hassania" width="158" height="48">
            </div>
        </div>
    </div>
  </div>
  



 
  
  